h1 a{
    color: tomato;
    font-family: 'Indie Flower', cursive;;
    
}

h2{
    color:tomato;
    font-family: 'Indie Flower', cursive;   
}

p {
    font-family: 'Indie Flower', cursive;

}

a{
    font-family: 'Indie Flower', cursive;
}