{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>


    <title>Blog Django v1</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Indie+Flower&family=Rubik+Iso&display=swap" rel="stylesheet">


    <!--  -->

</head>

<body>
    <header>
        <h1><a href="{% url 'home' %}"> Django Tiburon 1</a></h1>
        <a href="{% url 'create_post' %}">
            <h2>Nuevo Post</h2>
        </a>

    </header>

    {% if user.is_authenticated %}

    <p>Epale {{ user.username }}</p>
    <a href="{% url 'logout' %}">Logout</a>

    {% else %}

    <p>Epale no estas registrado</p>
    <a href="{% url 'login' %}">Sign in</a>
    <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
    

    <div>
        {% block content %}

        {% endblock content %}
    </div>

    <div>

    </div>
</body>

</html>


<!-- 
    git add .
    git commit -m
    git check out main
    git merge dev (para pasar los cambios de dev a main)
 -->